<html>

<head></head>

<body>
    <h1> Following are the titles of given websites: </h1>

    <ul>
        <% for(var i=0; i < title.length; i++) { %>
            <li>
                <%= title[i] %> - <%= mesg[i] %>
            </li>
        <% } %>
    </ul>
</body>

</html>